<div class="admin-container">
    <div class="nav-btns">
        <button onclick="showSection('daily-tasks')" data-section="mission" class="active">Product </button>
    </div>
    <div id="daily-tasks" class="section active">
        <button class="btn btn-add-item" data-form-id="addMissionForm">➕ Thêm sản phẩm</button>

        <div id="addMissionForm" class="add-form-container">
            <h3>Thêm sản phẩm mới</h3>
            <button class="btn btn-close-form">✖️</button>
            <div class="form-grid">
                <div class="form-group">
                    <label for="missionName">Tên sản phẩm</label>
                    <input type="text" id="missionName" placeholder="Nhập tên sản phẩm" class="form-control-custom">
                </div>
                <div class="form-group">
                    <label for="missionAssignee">Giá</label>
                    <input type="number" id="missionAssignee" placeholder="Giá sản phẩm" class="form-control-custom">
                </div>
                <div class="form-group">
                    <label for="missionDueDate">Mô tả sản phẩm</label>
                    <input type="text" id="missionDueDate" placeholder="Mô tả ngắn cho sản phẩm"
                        class="form-control-custom">
                </div>
                <div class="form-group">
                    <label for="missionPriority">Loại</label>
                    <select id="missionPriority" class="form-control-custom">

                    </select>
                </div>
            </div>
            <div class="form-actions">
                <button class="btn btn-success" id="Them">➕ Thêm sản phẩm</button>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Mã</th>
                    <th>Tên sản phẩm</th>
                    <th>Giá tiền</th>
                    <th>Mô tả</th>
                    <th>Loại</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody id="Product-body">
                
            </tbody>
        </table>
    </div>
</div>

<script>
    product = []
    cate = []
    function renderProductTable(data) {
        const tbody = document.getElementById("Product-body");

        // Gắn HTML thô trước
        tbody.innerHTML = data.map(u => `
        <tr>
            <td>${u.id}</td>
            <td><input type="text" value="${u.name}" style="border: 0px;background: none;"></td>
            <td><input type="num" value="${u.price}" style="border: 0px;background: none;"></td>
            <td><input type="text" value="${u.mota}" style="border: 0px;background: none;"></td>
            <td>
                <select name="" class="selectRole" style="border: 0px;background: none;"></select>
            </td>
            <td>
                <button class="btn" onclick="logRowData(this, '${u.id}')">Chỉnh sửa</button>
                <button class="btn" onclick="deleteUser('${u.id}')">Xóa</button>
            </td>
        </tr>
    `).join("");

        // Sau khi HTML đã được render, lặp lại từng dòng để gắn option cho select
        const rows = tbody.querySelectorAll("tr");
        data.forEach((u, index) => {
            const selectElement = rows[index].querySelector(".selectRole");
            render_option(selectElement, u.ma_loai, u.ten_loai);
        });
    }

    function render_option(selectElement, ma_loai_selected, ten_loai_selected) {
        selectElement.innerHTML = '';
        cate.forEach(u => {
            const option = document.createElement('option');
            option.value = u.role_id;
            option.textContent = u.role_name;

            if (u.role_id === ma_loai_selected && u.role_name === ten_loai_selected) {
                option.selected = true;
            }

            selectElement.appendChild(option);
        });
    }
    async function fetchProduct() {

        const res = await fetch("http://localhost:8080/api/admin/all_product");
        if (!res.ok) return alert("Lỗi server");
        product = await res.json();
        console.log(product);
        renderProductTable(product);

    }


    async function fetchCate() {
        const ls_role = document.getElementById("missionPriority");
        const res = await fetch("http://localhost:8080/api/admin/all_loaiSP");
        if (!res.ok) throw new Error("Không load được role");

        const roles_data = await res.json();

        cate = roles_data;
        console.log(cate);
        ls_role.innerHTML = `<option value="">Chọn loại</option>` +
            roles_data.map(item => `
                <option value="${item.role_id}">${item.role_name}</option>
            `).join("");
    }

    function generateProductId() {
        const prefix = "SP";
        const chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
        let result = prefix;
        for (let i = 0; i < 8; i++) {
            result += chars.charAt(Math.floor(Math.random() * chars.length));
        }
        return result;
    }

    document.getElementById("Them").addEventListener("click", function () {
        const roleSelect = document.getElementById("missionPriority")
        const data = {
            ma_sp: generateProductId(),
            ten_sp: document.getElementById("missionName").value,
            don_gia: document.getElementById("missionAssignee").value,
            mota: document.getElementById("missionDueDate").value,
            ma_loai: roleSelect.value,
        };
        console.log(data)
        fetch("http://localhost:8080/api/admin/them_san_pham", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        }).then(response => response.text())
            .then(result => {
                alert(result);
                product.push({
                    id: data.ma_sp,
                    name: data.ten_sp,
                    price: data.don_gia,
                    mota: data.mota,
                    ten_loai: roleSelect.options[roleSelect.selectedIndex].text,
                    ma_loai: roleSelect.value
                });
                renderProductTable(product);
            })
            .catch(error => {
                alert(error);
            })
    })

    function logRowData(button, ids) {
        if (!confirm("Bạn có chắc chắn muốn cập sản phẩm này?")) return;
        const row = button.closest("tr");
        const [ProductInput, PriceInput, MotaInput] = row.querySelectorAll("input");
        const select = row.querySelector(".selectRole");
        console.log(select.value);
        const data = {
            id: ids,
            ten: ProductInput.value,
            price: parseInt(PriceInput.value),
            mota: MotaInput.value,
            loai_id: select.value
        };
        console.log(data)
        fetch("http://localhost:8080/api/admin/path_product", {
            method: "PATCH",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error("Cập nhật thất bại");
                }
                fetchProduct();
                return response.text();
            })
            .then(result => {
                alert(result); // hoặc hiển thị message bằng toast
            })
            .catch(error => {
                console.error("Lỗi:", error);
                alert("Cập nhật thất bại");
            });

    }

    function deleteUser(id) {
        if (!confirm("Bạn có chắc chắn muốn xoá sản phẩm này?")) return;
        console.log(id);
        fetch(`http://localhost:8080/api/admin/del_product?id=${id}`, {
            method: "DELETE",
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error("Xoá thất bại");
                }

                return response.text();
            })
            .then(result => {
                alert(result);
                // Sau khi xoá, load lại danh sách
                fetchProduct(); // giả sử bạn đã có hàm này để load lại danh sách
            })
            .catch(error => {
                alert("Lỗi: " + error.message);
            });
    }

    document.addEventListener("DOMContentLoaded", fetchProduct(), fetchCate());

</script>